:root {
  --theme-blue: #3090c8;
  --theme-orange: #e3c42b;
  --theme-grey: #eeeff1;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

li {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

.title {
  margin: 8px;
  font-weight: 700;
}

.inline-logo {
  height: 1lh;
}

svg {
  height: 1.5lh;
}

.logo-line {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
}

#logo {
  font-size: 32px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
}

#sidebar {
  font-weight: 700;
  grid-row: span 2;
  background-color: var(--theme-blue);
  color: #ffffff;
  padding: 16px;
  padding-right: 64px;
  display: flex;
  flex-flow: column nowrap;
  gap: 64px;
}

#sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#sidebar svg {
  fill: white;
}

#header {
  background-color: #ffffff;
  padding: 16px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#header > * {
  display: flex;
  align-items: center;
}

#header button {
  background: none;
  border: none;
}

#search-bar {
  flex-grow: 1;
}

#search-bar input {
  max-width: max(200px, 80%);
  flex-grow: 1;
  padding: 4px;
  background-color: var(--theme-grey);
  border: 4px solid var(--theme-grey);
  border-radius: 16px;
}

#profile {
  display: flex;
  align-items: center;
  gap: 16px;
}

#profile > img {
  height: 2lh;
}

#greeting {
  display: inline-grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px;
  align-items: center;
}

#greeting > img {
  height: 3lh;
  grid-row: span 2;
}

#greeting > .name {
  font-size: 24px;
}

#action {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

#action > button {
  width: 6em;
  text-align: center;
  font-size: medium;
  padding: 8px;
  border-radius: 10em;
  border: 1px solid var(--theme-blue);
  background-color: var(--theme-blue);
  color: white;
}

#content {
  padding-top: 16px;
  background-color: var(--theme-grey);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#projects {
  display: flex;
  flex-direction: column;
  grid-row: span 2;
}

#projects > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  margin: 16px;
  height: 100%;
}

.card {
  display: flex;
  flex-flow: column;
  border: 8px solid white;
  background-color: white;
  border-radius: 8px;
  border-left: 12px solid var(--theme-orange);
  border-top: var(--theme-orange);
  border-bottom: var(--theme-orange);
}

.card p {
  padding-left: 8px;
}

.card div {
  margin-left: auto;
}

.project-actions {
  margin: 16px;
  margin-top: auto;
}
