* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 8px;
  width: 100px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#content {
  padding: 16px;
  height: 100%;
}

#title {
  margin: 16px;
}

#status {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-bottom: auto;
}

#computer {
  border: 2px solid black;
  padding: 16px;
  margin: 32px;
}

#input {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
